* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
}

window {
  background-color: rgba(15, 15, 15, 0.95);
  color: #cdd6f4;
}

#outer-box {
  padding: 12px;
}

#input {
  background-color: rgba(255, 255, 255, 0.05);
  color: #cdd6f4;
  padding: 4px 8px;
  margin-bottom: 10px;
  min-height: 24px;
}

#inner-box {
  spacing: 8px;
}

#entry {
  padding: 6px 8px;
}

#entry:selected {
  background-color: rgba(137, 180, 250, 0.15);
  color: #89b4fa;
}
